{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700" />
	<link rel="stylesheet" href="{% static 'verzeo/css/index.css' %}" />
	<link rel="stylesheet" href="{% static 'verzeo/css/card.css' %}" />

	<title>Zeitgeist</title>
</head>

<body>
	<div class="first" id="root">
		<a href="{% url 'verzeo_home' %}" class="imagelink">
			<img src="{% static 'verzeo/images/house.png' %}" alt="home" />
		</a>
		<a href="#" class="backbutton">
			<img src="{% static 'verzeo/images/back1.png' %}" alt="home" />
		</a>
		<div class="main">
			<div id="app" class="department container">
				<div class="eachdept" id="photo">
					<a href="{% url 'photo' %}">
						<card data-image="{% static 'verzeo/images/photography.jpeg' %}">
							<h1 slot="header">Photography</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept" id="content">
					<a href="{% url 'content' %}">
						<card data-image="{% static 'verzeo/images/content.jpg' %}">
							<h1 slot="header">Content Writing</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept" id="journalism">
					<a href="{% url 'journalism' %}">
						<card data-image="{% static 'verzeo/images/journalism.png' %}">
							<h1 slot="header">Journalism</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept" id="digital">
					<a href="{% url 'digital' %}">
						<card data-image="{% static 'verzeo/images/digital.png' %}">
							<h1 slot="header">Digital Marketing</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept" id="adm">
					<a href="{% url 'advertising' %}">
						<card data-image="{% static 'verzeo/images/adv.jpg' %}">
							<h1 slot="header">Advertising & Marketing</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept" id="psy">
					<a href="{% url 'psychology' %}">
						<card data-image="{% static 'verzeo/images/phy.jpg' %}">
							<h1 slot="header">Psychology</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept" id="sfm">
					<a href="{% url 'shortfilm' %}">
						<card data-image="{% static 'verzeo/images/short.jpg' %}">
							<h1 slot="header">Shortfilm Making</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="col col-md-3 eachdept" id="human">
					<a href="{% url 'hr' %}">
						<card data-image="{% static 'verzeo/images/hr.jpg' %}">
							<h1 slot="header">Human Resources</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="col col-md-3 eachdept" id="lop">
					<a href="{% url 'lean' %}">
						<card data-image="{% static 'verzeo/images/lean.jpg' %}">
							<h1 slot="header">Lean Operations</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="col col-md-3 eachdept" id="marketing">
					<a href="{% url 'marketing' %}">
						<card data-image="{% static 'verzeo/images/marketing.jpeg' %}">
							<h1 slot="header">Marketing</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="{% static 'verzeo/js/three.r92.min.js' %}"></script>
	<script src="{% static 'verzeo/js/vanta.fog.min.js' %}"></script>
	<script>
		VANTA.FOG({
			el: "#root",
			highlightColor: 0x71c4ff,
			midtoneColor: 0x3a9cb1,
			lowlightColor: 0x567478,
			baseColor: 0xfff5d5,
			blurFactor: 0.67,
			speed: 1.4,
			zoom: 1.1
		});
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
	<script src="{% static 'verzeo/js/card.js' %}"></script>
	<script src="{% static 'verzeo/js/index.js' %}"></script>
</body>

</html>