{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'verzeo/css/index.css' %}" />
	<link rel="stylesheet" href="{% static 'verzeo/css/card.css' %}" />

	<title>IIT-Ropar Zeitgeist</title>
</head>

<body>
	<div id="root">
		<div id="wrapper" style="padding-top: 40em">
			<a href="{% url 'verzeo_home' %}">
				<h1>
					<span id="sub-title" style="font-size: 18px;">IN ASSOCIATION WITH ZEITGEIST <br /><br />
						IIT-ROPAR</span>
					<br /><br />
					<span id="title">
						<span class="title-letter">I</span>
						<span class="title-letter">n</span>
						<span class="title-letter">d</span>
						<span class="title-letter">i</span>
						<span class="title-letter">a</span>
						<span class="title-letter">'s</span>
						<span class="title-letter">&nbsp;</span>
						<span class="title-letter">L</span>
						<span class="title-letter">a</span>
						<span class="title-letter">r</span>
						<span class="title-letter">g</span>
						<span class="title-letter">e</span>
						<span class="title-letter">s</span>
						<span class="title-letter">t</span>
						<span class="title-letter">&nbsp;</span>
						<span class="title-letter">I</span>
						<span class="title-letter">n</span>
						<span class="title-letter">t</span>
						<span class="title-letter">e</span>
						<span class="title-letter">r</span>
						<span class="title-letter">n</span>
						<span class="title-letter">s</span>
						<span class="title-letter">h</span>
						<span class="title-letter">i</span>
						<span class="title-letter">p</span>
					</span>
					<br /><br /><br /><br />

					<span id="sub-title1"
						style="letter-spacing: 4px !important;font-size: 20px; text-transform: capitalize;">POWERED BY
						VERZEO
					</span>
				</h1>
			</a>
		</div>
		<div class="main" style="margin-top:-25em">
			<div id="app" class="department container">
				<div class="eachdept">
					<a href="{% url 'cse' %}">
						<card data-image="{% static 'verzeo/images/cse.jpeg' %}">
							<h1 slot="header">CSE</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept">
					<a href="{% url 'ece' %}">
						<card data-image="{% static 'verzeo/images/ece.jpeg' %}">
							<h1 slot="header">ECE</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept">
					<a href="{% url 'mech' %}">
						<card data-image="{% static 'verzeo/images/mech.jpeg' %}">
							<h1 slot="header">Mechanical</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept">
					<a href="{% url 'civil' %}">
						<card data-image="{% static 'verzeo/images/civil.jpeg' %}">
							<h1 slot="header">Civil</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept">
					<a href="{% url 'management' %}">
						<card data-image="{% static 'verzeo/images/management.jpg' %}">
							<h1 slot="header">Management</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept">
					<a href="{% url 'arts_commerce' %}">
						<card data-image="{% static 'verzeo/images/arts.jpeg' %}">
							<h1 slot="header">Arts & Commerce</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
				<div class="eachdept">
					<a href="{% url 'bio' %}">
						<card data-image="{% static 'verzeo/images/bio.jpeg' %}">
							<h1 slot="header">Bio - Technology</h1>
							<p slot="content"></p>
						</card>
					</a>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script src="{% static 'verzeo/js/three.r92.min.js' %}"></script>
	<script src="{% static 'verzeo/js/vanta.fog.min.js' %}"></script>
	<script>
		VANTA.FOG({
			el: "#root",
			highlightColor: 0x71c4ff,
			midtoneColor: 0x3a9cb1,
			lowlightColor: 0x567478,
			baseColor: 0xfff5d5,
			blurFactor: 0.67,
			speed: 1.4,
			zoom: 1.1
		});
	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
	<script src="{% static 'verzeo/js/card.js' %}"></script>
	<script src="{% static 'verzeo/js/index.js' %}"></script>
</body>

</html>