<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Raleway:500.700"
    />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/card.css" />

    <title>Zeitgeist</title>
  </head>
  <body>
    <div class="first" id="root">
      <a href="index.html" class="imagelink">
        <img src="images/house.png" alt="home" />
      </a>
      <a href="#" class="backbutton">
        <img src="images/back1.png" alt="home" />
      </a>
      <div class="main">
        <div id="app" class="department container">
          <div class="eachdept" id="catia">
            <a href="mechanical/catia.html">
              <card data-image="images/catia.jpg">
                <h1 slot="header">CATIA</h1>
                <p slot="content"></p>
              </card>
            </a>
          </div>
          <div class="eachdept" id="car">
            <a href="mechanical/car.html">
              <card data-image="images/car.png">
                <h1 slot="header">Car Design</h1>
                <p slot="content"></p>
              </card>
            </a>
          </div>
          <div class="eachdept" id="auto">
            <a href="mechanical/autocad.html">
              <card data-image="images/auto.png">
                <h1 slot="header">Autocad</h1>
                <p slot="content"></p>
              </card>
            </a>
          </div>
          <div class="eachdept" id="hv">
            <a href="mechanical/hybrid.html">
              <card data-image="images/hybrid.jpg">
                <h1 slot="header">Hybrid & Electrical vehical</h1>
                <p slot="content"></p>
              </card>
            </a>
          </div>
          <div class="eachdept" id="ice">
            <a href="mechanical/icenginee.html">
              <card data-image="images/ic.jpg">
                <h1 slot="header">IC Engine</h1>
                <p slot="content"></p>
              </card>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="js/three.r92.min.js"></script>
    <script src="js/vanta.fog.min.js"></script>
    <script>
      VANTA.FOG({
        el: "#root",
        highlightColor: 0x71c4ff,
        midtoneColor: 0x3a9cb1,
        lowlightColor: 0x567478,
        baseColor: 0xfff5d5,
        blurFactor: 0.67,
        speed: 1.4,
        zoom: 1.1
      });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
    <script src="js/card.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
