zeitgeist_2019_website/db.sqlite3
.env.production
.vscode
.DS_Store
**/*.pyc
**/*.pyo
zeitgeist_2019_website/zeitgeist_2019_website/db.cnf
.env
zeitgeist_2019_website/accomodation/
zeit
zeitgeist_2019_website/.env
zeitgeist_2019_website/db.sqlite3
zeitgeist_2019_website/main_page/token_key.json