{% extends "main_page/base.html" %}

{% load static %}

{% block content %}

<div class='jumbotron' style="background-color:#39a0ed; color:#fdef8d ">
    <br><br>
    <div class='container'>
        <ul class='list-group'>
            <li style="background-color:#39a0ed; color:#29339b; font-size: larger " class='list-group-item'>Following
                mentioned options includes Room and Mattresses only :
                <ol type="1">
                    <li style="background-color:#39a0ed; color:#29339b; font-size: larger ">Rs.300/- for one day</li>
                    <li style="background-color:#39a0ed; color:#29339b; font-size: larger ">Rs.500/- for two days
                    </li>
                    <li style="background-color:#39a0ed; color:#29339b; font-size: larger ">Rs.700/- for three days
                    </li>
                </ol>
            </li>
            <li style="background-color:#39a0ed; color:#29339b; font-size: larger " class='list-group-item'>Following
                mentioned options includes Room, Mattresses and 4 meals/day (Breakfast,lunch,snacks and dinner) :
                <ol type="1">
                    <li style="background-color:#39a0ed; color:#29339b; font-size: larger ">Rs.500/- for one day</li>
                    <li style="background-color:#39a0ed; color:#29339b; font-size: larger ">Rs.850/- for two days
                    </li>
                    <li style="background-color:#39a0ed; color:#29339b; font-size: larger ">Rs.1200/- for three days
                    </li>
                </ol>
            </li>
            <li style="background-color:#39a0ed; color:#29339b; font-size: larger " class='list-group-item'>OFFERS :
                <ol type="1">
                    <li style="background-color:#39a0ed; color:#29339b; font-size: larger ">[VALID TILL 28 Sept] Next 5
                        members of the same contingent will be provided free accomodation of the same category for every
                        50 registered (with accomodation) members.</li>
                    <li style="background-color:#39a0ed; color:#29339b; font-size: larger ">[VALID TILL 28 Sept] Next 10
                        members of the same contingent will be provided free accomodation of the same category for every
                        70 registered (with accomodation) members.</li>
                </ol>
                (Please note that a contingent comprises of teams of one college only)
            </li>
            <li style="background-color:#39a0ed; color:#29339b; font-size: larger " class='list-group-item'>For more
                details, please contact <a href="tel:8708725393" style="font-weight:bold;color:#17301c">87087 25393</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}