{% extends 'main_page/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="jumbotron" style="background-color: #39a0ed; color:#17301c;">
    <div class='container'>
        <br><br>
        <h2 style="color:blanchedalmond">This form can be submitted only once, so don't submit the form with fake
            details just for checking purposes !!!</h2>
        <h2>Accomodation will be charged as Under:</h2>
        {% for days,charge in charges.items %}
        <h3><span style="color:crimson">{{ days }} Day(s)</span> : {{ charge }} INR per person</h3>
        {% endfor %}
    </div>
</div>

<div class='container'>
    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class='btn btn-danger btn-lg' type="submit" value="Pay and Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}
