{% extends 'main_page/base.html' %}

{% load static %}

{% block content %}

<div id="home">
    <div class="section-bg" style="background-color:grey" data-stellar-background-ratio="0.5"></div>
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="home-content">
                        <h2>You are already registered as a participant.</h2>
                        <h3>If you want to edit your response, please contact Aman Kushwaha <a href="tel:6388468972">6388468972</a>.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
