{% extends "main_page/base.html" %}

{% load static %}

{% block content %}

<div class='jumbotron' style="background-color:#39a0ed; color:#fdef8d ">
<br><br>

</div>
<div class="container" style="font-size: 30px; color:#999; text-align: center; margin-top:100px; font-weight: 600;">
Error 404
</div>
<div class='container' style="min-height: 30vh;">
    <h3 style="color:#29339b; font-size: larger ; margin:auto; margin-top:60px; line-height: 40px; max-width: 600px;" class='list-group-item'>No such page exists. Return to <a href="{% url 'main_page_home' %}" style="font-weight:bold;color:#17301c">homepage</a></h3>
</div>

{% endblock %}