{% extends 'main_page/base.html' %}
{% load static %}
{% block content %}

<div id="home">
        <!-- background image -->
        <div class="section-bg" style="background-image:url({% static 'main_page/img/events.jpg' %})" data-stellar-background-ratio="0.5"></div>
        <!-- /background image -->
    
        <!-- home wrapper -->
        <div class="home-wrapper">
        </div>
        <!-- /home wrapper -->
    </div>
    <br>
    <br>
<div class="section-title">
<h3 class="title" >{{ event.name }}</h3>
</div>
<br>
<a href="{% url 'register_event' %}">Register</a>
{% endblock content %}