{% extends "main_page/base.html" %}

{% load static %}

{% block content %}
<div class="container">
<div class="row ">
    {% for event in events %}
    <div class="col-sm-4 p-4">
      <div class="card">
        <img class='' src="{% static 'main_page/images/zeitgeist.jpg' %}" style="width: 100%;">
        <div class="card-body">
          <h5 class="card-title">{{ event.name }}</h5>
          <p class="card-text">{{ event.shorttext }} </p>
          <a href="#" class="btn btn-primary">Go somewhere</a> 
        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
</div>
{% endblock content %}
