{% extends "main_page/base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid px-0">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-info" role="listbox">
            <div class="carousel-item active">
                <div class="d-flex align-items-center justify-content-center min-vh-100">
                    <h5>Here goes the content of events page which should contain cards of different events. Add a home button on navbar which redirects to main page home.
                        <br>Edit events.html in main_page app.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
