{% extends "main_page/base.html" %}

{% load static %}

{% block content %}

<style>
    @font-face {
        font-family: 'Canterbury';
        src: url("{% static 'main_page/fonts/Canterbury.ttf' %}");
    }
    #home-canvas {
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color:rgb(255,199,28);
    }
    .fest-name {
      position: absolute;
      top:-15%;
      font-size: 20vw;
      line-height: 100vh;
      margin: 0;
      pointer-events: none;
      color: rgb(68, 70, 73);
      font-family: 'Canterbury';
      text-align: center;
      width: 100%;
      font-weight: 700;
    }
    .fest-dates {
      position: absolute;
      top:20%;
      font-size: 10vw;
      line-height: 100vh;
      margin: 0;
      pointer-events: none;
      color: rgb(68, 70, 73);
      font-family: 'Canterbury';
      text-align: center;
      width: 100%;;
    }
</style>

<style>
    .stage{
        width:100%;
        height:100vh;
        display: block;
        background-color: #111;
        overflow: hidden;
        position: relative;
        z-index: 1000;
    }

    .stage-back{
        background-image: url("/static/main_page/img/stage/stage.jpg");
        background-position: center;
        background-size: auto 120vh;
        width:120%;
        height: 110%;
        margin-left: -10%;
        margin-top: -5%;
        transform: translateX(0) translateY(0);
        position: absolute;
    }

    .stage-front-wrap{
        width:100%;
        height: 100%;
        transform: translateX(0) translateY(0);
        position: relative;
        transition: transform 1s cubic-bezier(0,.04,.08,.99);
        display: block;
    }

    .stage-front{
        width:100%;
        height: 100%;
        transform: translateX(0) translateY(0);
        position: relative;
        display: block;
    }

    .stage-front .but{
        position: absolute;
        color:rgb(87, 237, 248);
        font-size: 35px;
        z-index: 100;
        width: 200px;
        margin-left: -100px;
        text-align: center;
        font-family: 'Staatliches';
        background-color: rgba(0,0,0,0.4);
        border-radius: 10px;
        box-shadow: 0 0 12px 2px #aaa;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        padding: 10px;
    }

    .stage-front .but:hover{
        box-shadow: 0 0 12px 2px #fff;
        color: rgb(147, 12, 226);
    }

    .stage-front .but1{
        top:15%;
        left: 50%;
    }

    .stage-front .but2{
        bottom:15%;
        left: 50%;
    }

    .stage-front .but3{
        top:40%;
        left: 15%;
    }

    .stage-front .but4{
        top:40%;
        right: 15%;
    }

    .login-but{
        position: absolute;
        color:rgb(248, 87, 87);
        font-size: 25px;
        z-index: 100;
        width: 300px;
        margin-left: -150px;
        text-align: center;
        font-family: 'Staatliches';
        background-color: rgba(0,0,0,0.4);
        transition: 0.2s ease-in-out;
        cursor: pointer;
        top:41%;
        left:50%;
        padding: 10px;
        transition: opacity 0.4s ease-in-out;
        opacity: 0;
        display: none;
    }

    /* @keyframes glow {
        from {
            text-shadow: 0 0 10px rgb(185, 245, 255), 0 0 20px rgb(185, 245, 255), 0 0 30px #408fda, 0 0 40px #408fda, 0 0 50px #408fda, 0 0 60px #408fda, 0 0 70px #408fda;
        }
        to {
            text-shadow: 0 0 20px rgb(185, 245, 255), 0 0 30px #408fda, 0 0 40px #408fda, 0 0 50px #408fda, 0 0 60px #408fda, 0 0 70px #408fda, 0 0 80px #408fda;
        }
    } */

    .but-cont{
        width:100%;
        height:100%;
        position: absolute;
        z-index: 100; 
        color:#ffdd9a;
        font-size: 40px; 
        opacity: 0;
        transition: opacity 0.4s ease-in-out; 
        font-family: 'Staatliches';
    }

    .but-cont-wrap{
        width:100%;
        height: 100%;
        position: relative;
        padding: 60px 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        /* -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate; */
    }

    .but-cont-wrap a, .but-cont-wrap a:focus, .but-cont-wrap a:visited{
        color:#ffdd9a;
;
    }


    .but-cont-wrap .arrow{
        font-size: 100px;
        color: #ddd;
        display: inline-block;
        cursor: pointer;
        transition: 0.6s ease-in-out cubic-bezier(0,.04,.08,.99);
        position: absolute;
        text-align: center;
    }

    .but-cont-wrap .arrow:hover{
        transform: scale(1.1)
    }

    .but1-cont{
        top: -100%;
        left: 0%;
    }

    .but2-cont{
        top: 100%;
        left: 0%;
    }

    .but3-cont{
        top: 0%;
        left: -100%;
    }

    .but4-cont{
        top: 0%;
        left: 100%;
    }

    .but-cont-wrap .down{
        bottom: 40px;
        left: 0;
        width: 100%;
    }

    .but-cont-wrap .up{
        top: 10px;
        left: 0;
        width: 100%;
    }

    .but-cont-wrap .right{
        top: 45%;
        right: 10%;
    }

    .but-cont-wrap .left{
        top: 45%;
        left: 10%;
    }

    .stage-poster{
        width: 90%;
        max-width: 500px;
        position: relative;
        margin: auto;
        box-shadow: 0 0 20px 15px rgba(240,240,240,0.6);
    }

    .stage-poster img{
        width: 100%;
        position: relative;
        z-index: 5;
    }

    .stage-poster .cover{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 10;
        background-color: rgba(0,0,0,0);
        top:0;
        left:0;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease-in-out;
    }

    .stage-poster:hover .cover{
        background-color: rgba(0,0,0,0.5);
    }
    .stage-poster:hover i{
        opacity: 1;
    }

    .stage-poster i{
        font-size: 70px;
        opacity: 0;
        transition: 0.2s ease-in-out;
        color: #ddd;
    }

    @media screen and (max-width:800px){
        .but-cont-wrap{
            align-items: initial;
        }
        .but-cont{
            font-size: 30px;
        }
        .but2-cont .but-cont-wrap{
            padding-top:40%;
        }

        .stage-front .but{
            font-size: 30px;
        }

        .stage-front .but1{
            top:10%;
            left: 50%;
            right: auto;
            bottom: auto;
        }

        .stage-front .but2{
            top:30%;
            left: 50%;
            right: auto;
            bottom: auto;
        }

        .stage-front .but3{
            top:50%;
            left: 50%;
            right: auto;
            bottom: auto;
        }

        .stage-front .but4{
            top:70%;
            left: 50%;
            right: auto;
            bottom: auto;
        }

        .stage-poster i{
        font-size: 50px;
        }
    }
</style>

<div class="container" style="width:100%; height:100vh; overflow: hidden; margin:0; padding:0; position: relative; background-color: black;">
    <canvas id="home-canvas"></canvas>
    <p class="fest-name">Zeitgeist</p>
    <p class="fest-dates">23-24-25 April</p>
</div>

<div class="stage" id="stage">
    <div class="stage-back">
    </div>
    <div class="stage-front-wrap">
        <div class="stage-front">
            <a href="{% url 'google_login' %}">
                <div class="login-but">
                    Login to continue
                </div>
            </a>
            <div class="but but1">
                Inauguration
            </div>
            <div class="but but2">
                Comedy Nights
            </div>
            <div class="but but3">
                Events
            </div>
            <div class="but but4">
                Workshops
            </div>
            {% if user_loggedin %}
            <div class="but-cont but1-cont">
                <div class="but-cont-wrap">
                    <!-- Inauguration Link -->
                    <a href="https://www.airmeet.com/e/2baf0fa0-a218-11eb-92cf-8dceb6528f42" target="_blank">
                        <div class="stage-poster">
                            <img src="{% static 'main_page/img/stage/inauguration.png' %}">
                            <div class="cover"><i class="fa fa-play" aria-hidden="true"></i></div>
                        </div>
                    </a>
                    <i class="fa fa-angle-down arrow down" aria-hidden="true"></i>
                </div>
            </div>
            <div class="but-cont but2-cont">
                <div class="but-cont-wrap">
                    Comming Soon!!
                    <i class="fa fa-angle-up arrow up" aria-hidden="true"></i>
                </div>
            </div>
            <div class="but-cont but3-cont">
                <div class="but-cont-wrap">
                    Comming Soon!!
                    <i class="fa fa-angle-right arrow right" aria-hidden="true"></i>
                </div>
            </div>
            <div class="but-cont but4-cont">
                <div class="but-cont-wrap">
                    Comming Soon!!
                    <i class="fa fa-angle-left arrow left" aria-hidden="true"></i>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>

<div class='jumbotron' style="background-color:rgb(233, 233, 233); margin-bottom:0">
    <div id="galery">
        <div class="container">
            <div class="row">
                <div id="galery-owl" class="owl-carousel owl-theme">
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/all-stars.jpg' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/diljit.jpg' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/zakir.jpg' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/sitar_metal.jpg' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/rajan-sajan.jpeg' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/our-sponsors-collage.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="title"><span>About</span> <span style="color: #dd0a37;">Zeitgeist</span></h3>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="about-content">
                    <p>Recognized as the largest cultural fest in Punjab-Haryana, Zeitgeist is a sprightly experience to be lived and collect life-long, cherishable memories from.  The 3-day extravaganza takes you on a voyage back to the medieval period, where the antiquities await to be embraced. The spectacular fest includes surfeits of both- cultural and technical events like Singing, Dancing, Dramatics, Quizzing, Fashion, Oration, Poetry, Stand-up shows as well as exciting star nights- that have previously featured the best that Bollywood has to offer, Diljit Dosanjh, Vishal-Shekhar, Ranjit Bawa, Mohit Chouhan, Gajendra Verma, and also international sensations such as Olly Esse and Havas Guruhi. So, let's return to the medieval era, tame a horse, loot copper, celebrate art and invasion and experience the grandeur of <br><b><em><p style="font-family:'Canterbury'; font-size:26px">"A Chevauchée Ordeal"</p></em></b></p>
                </div>
                <div id="numbers">
                    <div class="row">
                        <div class="col-md-4 col-sm-3 col-xs-6">
                            <div class="number">
                                <h3><span class="counter" data-from="0" data-to="15000" data-speed="1500">0</span>+</h3>
                                <p>Footfall</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-6">
                            <div class="number">
                                <h3><span class="counter" data-from="0" data-to="45" data-speed="1500">0</span>+</h3>
                                <p>Events</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-6">
                            <div class="number">
                                <h3><span class="counter" data-from="0" data-to="5" data-speed="1500">0</span>+</h3>
                                <p>Star Nights</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="video-cta" class="section">
    <div class="section-bg"
        style="background-image:url({% static 'main_page/img/vishal_shekhar_video_thumbnail.jpg' %})"
        data-stellar-background-ratio="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cta-content text-center">
                    <a class="video-play" href="https://www.youtube.com/watch?v=jOLDCQBOiag" target="_blank">
                        <i class="fa fa-play"></i>
                    </a>
                    <h2>Watch this video</h2>
                    <p class="lead">Zeitgeist 2k19 aftermovie</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="schedule" class="section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="title"><span>Event</span> <span style="color: #dd0a37;">Schedule</span></h3>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="about-content" style="text-align: center;">
                    <a href="{% url 'schedule' %}">
                        <button type="button" class="btn btn-default">
                            View
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="our_sponsors" class="section">
    <div class="container">
        <div class="section-title">
            <h3 class="title"><span>Our</span> <span style="color: #dd0a37;">Sponsors</span></h3>
        </div>
        <div class='sponsor-wrap'>
            {% for sponsor in our_sponsors %}
                <div class="sponsor-col" style=" height:100% !important; display:block;">
                    <a href="{{ sponsor.link_to_sponsor }}" class="sponsor" target="_blank">
                        <span class="helper"></span>
                        <img src="{% static 'main_page/img/our_sponsors' %}/{{ sponsor.name_of_photo_in_static_files }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="media_partners" class="section">
    <div class="container">
        <div class="section-title">
            <h3 class="title"><span>Media</span> <span style="color: #dd0a37;">Partners</span></h3>
        </div>
        <div class='sponsor-wrap'>
            {% for sponsor in media_partners %}
                <div class="sponsor-col" style=" height:100% !important; display:block;">
                    <a href="{{ sponsor.link_to_sponsor }}" class="sponsor" target="_blank">
                        <span class="helper"></span>
                        <img src="{% static 'main_page/img/media_partners' %}/{{ sponsor.name_of_photo_in_static_files }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="prev_sponsors" class="section">
    <div class="container">
        <div class="section-title">
            <h3 class="title"><span>Previous</span> <span style="color: #dd0a37;">Sponsors</span></h3>
        </div>
        <div class='sponsor-wrap'>
            {% for sponsor in prev_sponsors %}
                <div class="sponsor-col" style=" height:100% !important; display:block;">
                    <a href="{{ sponsor.link_to_sponsor }}" class="sponsor" target="_blank">
                        <span class="helper"></span>
                        <img src="{% static 'main_page/img/prev_sponsors' %}/{{ sponsor.name_of_photo_in_static_files }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="team" class="section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="title"><span>Our</span> <span style="color: #dd0a37;">Team</span></h3>
            </div>
            {% for member in our_team %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="team-mem">
                    <img src="{% static 'main_page/img/team_members/'|add:member.photo %}">
                    <div class="name">{{member.name}}</div>
                    <div class="des">{{member.designation}}</div>
                    <a href="tel:{{member.mobile}}"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="contact" class="section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="title"><span>Contact</span> <span style="color: #dd0a37;">Info</span></h3>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <h3>Address</h3>
                    <p><a href="https://goo.gl/maps/aesiYVwj8tya7BKY8">Indian Institute of Technology Ropar, 140001,
                            Rupnagar, Punjab, India</a></p>
                    <b>
                        <p><a href="{% url 'reach_us' %}">How to reach us?</a></p>
                    </b>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <h3>Phone</h3>
                    <p>Overall Coordinator <br> Ritesh Chaudhary</p>
                    <p><a href="tel:9158725099">+91 915 8725 099</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <h3>Email</h3>
                    <a href="mailto:zeitgeist.pr@iitrpr.ac.in">zeitgeist.pr@iitrpr.ac.in</a>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
            <div class="contact">
                <h3>Website views</h3>
                <h4 class="counter" data-from="0" data-to="{{web_counts}}" data-speed="1500">0</h4>
            </div>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <a href="{% url 'feedback_form' %}"><h3>Write a feedback for website</h3></a>
                </div>
                </div>
        </div>
    </div>
</div>

<button type="button" style="display: none;" id="modal_btn" class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style=" color:rgb(214, 0, 89)">
                {% if ongoing_events %}
                <center><font class="modal-head">Ongoing Events</font></center>
                <div class="row" style="color:#666; font-size: 24px; text-align: center; font-weight: 600;">
                    {% for event in ongoing_events %}
                    <div class="col-md-3">
                        <a href="{{event.link}}">
                        <div class="running-event">
                            <img src="{% static 'main_page/img'|add:event.image %}">
                            <div class="title">{{event.name}}</div>
                            <div class="time">{{event.time}}</div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if upcoming_events %}
                <center><font class="modal-head">Upcoming Events</font></center>
                <div class="row" style="color:#666; font-size: 24px; text-align: center; font-weight: 600;">
                    {% for event in upcoming_events %}
                    <div class="col-md-3">
                        <a href="{{event.link}}">
                        <div class="running-event">
                            <img src="{% static 'main_page/img'|add:event.image %}">
                            <div class="title">{{event.name}}</div>
                            <div class="time">{{event.time}}</div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="modal-body" style=" color:rgb(214, 0, 89)">
                <center><font class="modal-head">Official Zeitgeist Merchandise</font></center>
                <div class="row" style="color:#666; font-size: 24px; text-align: center; font-weight: 600;">
                    <div class="col-md-7">
                        <font class = "modal-text-1">
                            Zeitgeist T-Shirt
                        </font>
                        <div class="col-but-wrap">
                            <div class="col-but black-f-but">
                                <div class = "t-color" style="background-color: rgb(19,19,19);"></div><br><font class="t-color-text" style="font-weight: 400;">Black<br><font style="font-size: 0.7em">(Front)</font></font>
                            </div>
                            <div class="col-but black-b-but">
                                <div class="t-color" style="background-color: rgb(19,19,19);"></div><br><font class="t-color-text" style="font-weight: 400;">Black<br><font style="font-size: 0.7em">(Back)</font></font>
                            </div>
                            <div class="col-but blue-f-but">
                                <div class="t-color" style="background-color: rgb(47,18,101);"></div><br><font class="t-color-text" style="font-weight: 400;">Navy Blue<br><font style="font-size: 0.7em">(Front)</font></font>
                            </div>
                            <div class="col-but blue-b-but">
                                <div class="t-color" style="background-color: rgb(47,18,101);"></div><br><font class="t-color-text" style="font-weight: 400;">Navy Blue<br><font style="font-size: 0.7em">(Back)</font></font>
                            </div>
                        </div>

                        <div class="buy"><a href="{% url 'merchandise' %}">BUY NOW!!</a></div>

                        <a href="{% url 'merchandise' %}"><font class="t-price" style="color:rgb(255, 252, 92); background-color: #333; width:100%; display: block; padding: 10px;">@ ₹399</font></a>   
                        
                        <font style="font-size:14px; width:100%; display: block; padding: 10px; text-align: right;">*free shipping pan India</font>
                    </div>
                    <div class="col-md-5">
                        <div class="t-image">
                            <img class="t-shirt black-f active" src="{% static 'main_page/img/black-f-small.png' %}">
                            <img class="t-shirt black-b" src="{% static 'main_page/img/black-b-small.png' %}">
                            <img class="t-shirt blue-f" src="{% static 'main_page/img/blue-f-small.png' %}">
                            <img class="t-shirt blue-b" src="{% static 'main_page/img/blue-b-small.png' %}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Will see later</button>
                <a href="{% url 'merchandise' %}"><button type="button" class="btn btn-primary">EXPLORE</button></a>
            </div>
        </div>
    </div>
</div>

<script>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"></script>
<script>
  const canvas = document.getElementById("home-canvas");
  const ctx = canvas.getContext("2d");
  const cellSize=60;
  const maxSize=100 ;
  let mousePos = vec2.fromValues(innerWidth * 0.5, innerHeight * 0.5);
  let numThingsX;
  let numThingsY;
  let things;

  function drawThing(thing) {
    const { pos, radius } = thing;
    ctx.fillStyle = "rgb(68, 70, 73)";
    ctx.beginPath();
    ctx.arc(pos[0], pos[1], radius, 0, Math.PI * 2);
    ctx.fill();
  }

  function loop() {
    ctx.clearRect(0, 0, innerWidth, innerHeight);
    things.forEach((thing) => {
      const dist = vec2.dist(mousePos, thing.pos);
      if (screen.width>700)
          a=0.0002
      else   
          a=0.0005
      // a=screen.width/4000000;
      thing.radius = clamp(dist * dist * a - 1, 0, maxSize);
      drawThing(thing);
    });
    // For now I'm turning off the RAF loop because
    // there are no ongoing animations.
    // window.requestAnimationFrame(loop);
  }

  function makeThing(x, y) {
    return {
      pos: vec2.fromValues(x, y),
      radius: 2,
    };
  }

  function makeThings() {
    things = [];
    for (let i = 0; i < numThingsY; i += 1) {
      for (let j = 0; j < numThingsX; j += 1) {
        const thing = makeThing(
          j * cellSize + cellSize * 0.5,
          i * cellSize + cellSize * 0.5
        );
        things.push(thing);
      }
    }
  }

  function sizeCanvas() {
    const dpr = window.devicePixelRatio || 1;
    const canvasRect = canvas.getBoundingClientRect();
    canvas.width = canvasRect.width * dpr;
    canvas.height = canvasRect.height * dpr;
    ctx.scale(dpr, dpr);
  }

  function handleResize() {

    sizeCanvas();
    numThingsX = Math.ceil(innerWidth / cellSize);
    numThingsY = Math.ceil(innerHeight / cellSize);
    makeThings();
  }
  window.addEventListener("resize", throttled(handleResize));

  function handleMouseMove(event) {
    vec2.set(mousePos, event.clientX, event.clientY);
    loop();
  }
  window.addEventListener("mousemove", throttled(handleMouseMove));


  // Kick it off
  handleResize();
  loop();

  // USEFUL FUNCTIONS ----------
  function throttled(fn) {
    let didRequest = false;
    return (param) => {
      if (!didRequest) {
        window.requestAnimationFrame(() => {
          fn(param);
          didRequest = false;
        });
        didRequest = true;
      }
    };
  }
  function clamp(value, min = 0, max = 1) {
    return value <= min ? min : value >= max ? max : value;
  }

</script>

{% endblock %}