{% extends "main_page/base.html" %}

{% load static %}

{% block content %}

<style>
    @font-face {
        font-family: 'Canterbury';
        src: url("{% static 'main_page/fonts/Canterbury.ttf' %}");
    }
    #home-canvas {
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color:rgb(255,199,28);
    }
    .fest-name {
      position: absolute;
      top:-15%;
      font-size: 20vw;
      line-height: 100vh;
      margin: 0;
      pointer-events: none;
      color: rgb(68, 70, 73);
      font-family: 'Canterbury';
      text-align: center;
      width: 100%;
      font-weight: 700;
    }
    .fest-dates {
      position: absolute;
      top:20%;
      font-size: 10vw;
      line-height: 100vh;
      margin: 0;
      pointer-events: none;
      color: rgb(68, 70, 73);
      font-family: 'Canterbury';
      text-align: center;
      width: 100%;;
    }
</style>

<div class="container" style="width:100%; height:100vh; overflow: hidden; margin:0; padding:0; position: relative; background-color: black;">
    <canvas id="home-canvas"></canvas>
    <p class="fest-name">Zeitgeist</p>
    <p class="fest-dates">23-24-25 April</p>
</div>

<div class='jumbotron' style="background-color:rgb(233, 233, 233); margin-bottom:0">
    <div id="galery">
        <div class="container">
            <div class="row">
                <div id="galery-owl" class="owl-carousel owl-theme">
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/all-stars.png' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/diljit.jpg' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/zakir.jpg' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/sitar_metal.jpg' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/star_nights/rajan-sajan.jpeg' %}" alt="">
                    </div>
                    <div class="galery-item">
                        <img src="{% static 'main_page/img/our-sponsors-collage.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="title"><span>About</span> <span style="color: #dd0a37;">Zeitgeist</span></h3>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="about-content">
                    <p>Recognized as the largest cultural fest in Punjab-Haryana, Zeitgeist is a sprightly experience to be lived and collect life-long, cherishable memories from.  The 3-day extravaganza takes you on a voyage back to the medieval period, where the antiquities await to be embraced. The spectacular fest includes surfeits of both- cultural and technical events like Singing, Dancing, Dramatics, Quizzing, Fashion, Oration, Poetry, Stand-up shows as well as exciting star nights- that have previously featured the best that Bollywood has to offer, Diljit Dosanjh, Vishal-Shekhar, Ranjit Bawa, Mohit Chouhan, Gajendra Verma, and also international sensations such as Olly Esse and Havas Guruhi. So, let's return to the medieval era, tame a horse, loot copper, celebrate art and invasion and experience the grandeur of <br><b><em><p style="font-family:'Canterbury'; font-size:26px">"A Chevauchée Ordeal"</p></em></b></p>
                </div>
                <div id="numbers">
                    <div class="row">
                        <div class="col-md-4 col-sm-3 col-xs-6">
                            <div class="number">
                                <h3><span class="counter" data-from="0" data-to="15000" data-speed="1500">0</span>+</h3>
                                <p>Footfall</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-6">
                            <div class="number">
                                <h3><span class="counter" data-from="0" data-to="45" data-speed="1500">0</span>+</h3>
                                <p>Events</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-6">
                            <div class="number">
                                <h3><span class="counter" data-from="0" data-to="5" data-speed="1500">0</span>+</h3>
                                <p>Star Nights</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="video-cta" class="section">
    <div class="section-bg"
        style="background-image:url({% static 'main_page/img/vishal_shekhar_video_thumbnail.jpg' %})"
        data-stellar-background-ratio="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cta-content text-center">
                    <a class="video-play" href="https://www.youtube.com/watch?v=jOLDCQBOiag" target="_blank">
                        <i class="fa fa-play"></i>
                    </a>
                    <h2>Watch this video</h2>
                    <p class="lead">Zeitgeist 2k19 aftermovie</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="schedule" class="section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="title"><span>Event</span> <span style="color: #dd0a37;">Schedule</span></h3>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="about-content" style="text-align: center;">
                    <a href="{% url 'schedule' %}">
                        <button type="button" class="btn btn-default">
                            View
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="our_sponsors" class="section">
    <div class="container">
        <div class="section-title">
            <h3 class="title"><span>Our</span> <span style="color: #dd0a37;">Sponsors</span></h3>
        </div>
        <div class='sponsor-wrap'>
            {% for sponsor in our_sponsors %}
                <div class="sponsor-col" style=" height:100% !important; display:block;">
                    <a href="{{ sponsor.link_to_sponsor }}" class="sponsor" target="_blank">
                        <span class="helper"></span>
                        <img src="{% static 'main_page/img/our_sponsors' %}/{{ sponsor.name_of_photo_in_static_files }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="media_partners" class="section">
    <div class="container">
        <div class="section-title">
            <h3 class="title"><span>Media</span> <span style="color: #dd0a37;">Partners</span></h3>
        </div>
        <div class='sponsor-wrap'>
            {% for sponsor in media_partners %}
                <div class="sponsor-col" style=" height:100% !important; display:block;">
                    <a href="{{ sponsor.link_to_sponsor }}" class="sponsor" target="_blank">
                        <span class="helper"></span>
                        <img src="{% static 'main_page/img/media_partners' %}/{{ sponsor.name_of_photo_in_static_files }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="prev_sponsors" class="section">
    <div class="container">
        <div class="section-title">
            <h3 class="title"><span>Previous</span> <span style="color: #dd0a37;">Sponsors</span></h3>
        </div>
        <div class='sponsor-wrap'>
            {% for sponsor in prev_sponsors %}
                <div class="sponsor-col" style=" height:100% !important; display:block;">
                    <a href="{{ sponsor.link_to_sponsor }}" class="sponsor" target="_blank">
                        <span class="helper"></span>
                        <img src="{% static 'main_page/img/prev_sponsors' %}/{{ sponsor.name_of_photo_in_static_files }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="team" class="section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="title"><span>Our</span> <span style="color: #dd0a37;">Team</span></h3>
            </div>
            {% for member in our_team %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="team-mem">
                    <img src="{% static 'main_page/img/team_members/'|add:member.photo %}">
                    <div class="name">{{member.name}}</div>
                    <div class="des">{{member.designation}}</div>
                    <a href="tel:{{member.mobile}}"><i class="fa fa-phone" aria-hidden="true"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="contact" class="section">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3 class="title"><span>Contact</span> <span style="color: #dd0a37;">Info</span></h3>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <h3>Address</h3>
                    <p><a href="https://goo.gl/maps/aesiYVwj8tya7BKY8">Indian Institute of Technology Ropar, 140001,
                            Rupnagar, Punjab, India</a></p>
                    <b>
                        <p><a href="{% url 'reach_us' %}">How to reach us?</a></p>
                    </b>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <h3>Phone</h3>
                    <p>Overall Coordinator <br> Ritesh Chaudhary</p>
                    <p><a href="tel:9158725099">+91 915 8725 099</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact">
                    <h3>Email</h3>
                    <a href="mailto:zeitgeist.pr@iitrpr.ac.in">zeitgeist.pr@iitrpr.ac.in</a>
                </div>

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="contact">
                <h3>Website views</h3>
                <h4 class="counter" data-from="0" data-to="{{web_counts}}" data-speed="1500">0</h4>
            </div>
        </div>
    </div>
</div>

<button type="button" style="display: none;" id="modal_btn" class="btn btn-primary" data-toggle="modal"
    data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style=" color:rgb(255, 0, 140)">
                Official Zeitgeist Merchandise
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Will see later</button>
                <a href="{% url 'merchandise' %}"><button type="button" class="btn btn-primary">EXPLORE</button></a>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function () {
        document.getElementById('modal_btn').click();
    }, 2500)
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"></script>
<script>
  const canvas = document.getElementById("home-canvas");
  const ctx = canvas.getContext("2d");
  const cellSize=60;
  const maxSize=100 ;
  let mousePos = vec2.fromValues(innerWidth * 0.5, innerHeight * 0.5);
  let numThingsX;
  let numThingsY;
  let things;

  function drawThing(thing) {
    const { pos, radius } = thing;
    ctx.fillStyle = "rgb(68, 70, 73)";
    ctx.beginPath();
    ctx.arc(pos[0], pos[1], radius, 0, Math.PI * 2);
    ctx.fill();
  }

  function loop() {
    ctx.clearRect(0, 0, innerWidth, innerHeight);
    things.forEach((thing) => {
      const dist = vec2.dist(mousePos, thing.pos);
      if (screen.width>700)
          a=0.0002
      else   
          a=0.0005
      // a=screen.width/4000000;
      thing.radius = clamp(dist * dist * a - 1, 0, maxSize);
      drawThing(thing);
    });
    // For now I'm turning off the RAF loop because
    // there are no ongoing animations.
    // window.requestAnimationFrame(loop);
  }

  function makeThing(x, y) {
    return {
      pos: vec2.fromValues(x, y),
      radius: 2,
    };
  }

  function makeThings() {
    things = [];
    for (let i = 0; i < numThingsY; i += 1) {
      for (let j = 0; j < numThingsX; j += 1) {
        const thing = makeThing(
          j * cellSize + cellSize * 0.5,
          i * cellSize + cellSize * 0.5
        );
        things.push(thing);
      }
    }
  }

  function sizeCanvas() {
    const dpr = window.devicePixelRatio || 1;
    const canvasRect = canvas.getBoundingClientRect();
    canvas.width = canvasRect.width * dpr;
    canvas.height = canvasRect.height * dpr;
    ctx.scale(dpr, dpr);
  }

  function handleResize() {

    sizeCanvas();
    numThingsX = Math.ceil(innerWidth / cellSize);
    numThingsY = Math.ceil(innerHeight / cellSize);
    makeThings();
  }
  window.addEventListener("resize", throttled(handleResize));

  function handleMouseMove(event) {
    vec2.set(mousePos, event.clientX, event.clientY);
    loop();
  }
  window.addEventListener("mousemove", throttled(handleMouseMove));


  // Kick it off
  handleResize();
  loop();

  // USEFUL FUNCTIONS ----------
  function throttled(fn) {
    let didRequest = false;
    return (param) => {
      if (!didRequest) {
        window.requestAnimationFrame(() => {
          fn(param);
          didRequest = false;
        });
        didRequest = true;
      }
    };
  }
  function clamp(value, min = 0, max = 1) {
    return value <= min ? min : value >= max ? max : value;
  }

</script>

{% endblock %}