{% extends 'main_page/base.html' %}

{% load static %}

{% block content %}

<div class='jumbotron' style="background-color:#39a0ed; color:#fdef8d ">
    <br><br><br>
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="home-content" style="font-size: larger">
                        <h2>How to Reach :</h2>
                        <h3>1. Arrive Chandigarh (well connected through air and land transport).</h3>
                        <h3>OPTION 1 : TRAIN</h3>
                        <h3>2. Board a train to Rupnagar Railway Station (Station Code - RPAR).</h3>
                        <h3>2.1 Book an auto to IIT ROPAR "Main Campus" (will cost about Rs. 120, but you can
                            try bargaining).</h3>
                        <h3> 2.2 Reach IIT ROPAR Transit Campus TC-1 (walking distance from Rupnagar Railway
                            Station). Busses at regular intervals are arranged from that campus to the Main
                            campus (free of cost).</h3>
                        <h3>OPTION 2 : BUS</h3>
                        <h3> 3. Take a bus to Rupnagar from Chandigarh (ISBT Sector 43).</h3>
                        <h3> 3.1 Board off from the bus at New Bus Stand, Rupnagar, and follow 2.1.</h3>
                        <h3> 3.2 Board off from the bus at "Purana (old) Bus Stand" and follow
                            2.1 or 2.2.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
