{% extends 'main_page/base.html' %}

{% load static %}

{% block content %}

<div class='jumbotron' style="background-color:#39a0ed; color:#fdef8d ">
    <br><br><br>
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="home-content" style="font-size: larger">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">How to Reach:</h3>
                            </div>
                            <div class="panel-body" style="background-color:#39a0ed">
                                <p style="font-size: large;color:black">1. Arrive Chandigarh (well connected through air
                                    and land transport).</p>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">2. By Train</h3>
                                    </div>
                                    <div class="panel-body" style="background-color:#39a0ed">
                                        <p style="color:black;font-size: medium">2.1 Board a train to Rupnagar Railway
                                            Station (Station Code - RPAR).</p>
                                        <p style="color:black;font-size:medium">2.2 Book an auto to IIT ROPAR "Main
                                            Campus" (will cost about Rs. 120, but you can
                                            try bargaining).</p>
                                        <p style="color:black;font-size: medium">2.3 Reach IIT ROPAR Transit Campus TC-1
                                            (walking distance from Rupnagar Railway
                                            Station). Busses at regular intervals are arranged from that campus to the
                                            Main
                                            campus (free of cost).</p>
                                    </div>
                                </div>
                                <p></p>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">3. By Bus</h3>
                                    </div>
                                    <div class="panel-body" style="background-color:#39a0ed">
                                        <p style="color:black;font-size: medium">3.1 Take a bus to Rupnagar from
                                            Chandigarh (ISBT Sector 43).</p>
                                        <p style="color:black;font-size:medium">3.2 Board off from the bus at New Bus
                                            Stand, Rupnagar, and follow 2.1.</p>
                                        <p style="color:black;font-size: medium">3.3 Board off from the bus at "Purana
                                            (old) Bus Stand" and follow
                                            2.1 or 2.2.</p>
                                    </div>
                                </div>
                                <a href="https://drive.google.com/file/d/1Ut4FfKzYRXVaZUKmPrHpn_gnFv5J6mZv/view?usp=sharing"
                                    style="font-weight: bold;font-size: large">View route from Chandigarh to IIT Ropar
                                    Main Campus.</a><br>
                                <a href="https://drive.google.com/file/d/1XT6MNNXFpytckV9Ozi-qJF8ZCgy-yciM/view?usp=sharing"
                                    style="font-weight:bold;font-size: large">View campus map of IIT Ropar</a><br>
                                <p style="color:black;font-weight: bold;font-size: large">In case you are not a
                                    participant, contact Parth Goyal, <a href="tel:7988175611"
                                        style="font-weight:bold;font-size: large">7988175611</a>, for college entrance.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}