{% extends "main_page/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="jumbotron" style="background-color: crimson; color:blanchedalmond;" >
        <div class='container'>
            <br><br>
        <h1>Fill the form below to register as Participant!</h1>
        </div>
    </div>
    <div class='container'>
    <div class="row">
        <div class="col-sm-6">
    <form method="POST">
    {% csrf_token %}
   {{ participant_registration_details_form|crispy }}
    <input class='btn btn-danger btn-lg' type="submit" value="Register">
    </form>
    </div>
    </div>
    </div>

{% endblock %}
