{% extends 'main_page/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="jumbotron" style="background-color: crimson; color:blanchedalmond;" >
    <div class='container'>
        <br><br>
    <h1>Fill the form below to register Team!</h1>
    </div>
</div>
<div class='container'>
<div class="row">
    <div class="col-md-6">
<form method="POST">
    {% csrf_token %}
    {{ team_form|crispy }}
    {{ team_member_formset|crispy }}
<input class='btn btn-danger btn-lg' type="submit" value="Register">
</form>
</div>
</div>
</div>



{% endblock content %}
