{% extends 'main_page/base.html' %}

{% load static %}

{% block content %}

<div id="home">
    <div class="section-bg" style="background-color:grey" data-stellar-background-ratio="0.5"></div>
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="home-content">
                        <h2>Your Registration for the event <span style="color: crimson">{{ event.name }}</span> is
                            succesfull. Your TEAM CODE is <span style="color: crimson">{{ team.team_code }}</span>. Each
                            of you must carry a Photo ID Proof with you for your onsite registration, otherwise your
                            registration might get cancelled. You will receive an email for your registration in the
                            event shortly. We wish you best of luck.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
