{% extends 'main_page/base.html' %}

{% load static %}

{% block content %}

<div id="home">
    <div class="section-bg" style="background-color:grey" data-stellar-background-ratio="0.5"></div>
    <div class="home-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="home-content" style="font-size: larger">
                        Zeitgeist, IIT Ropar, in association with Swiggy brings you the opportunity to work with Swiggy.
                        They are hiring Campus CEOs as a part of the Launchpad Program, which provides a unique
                        opportunity for students to get the first-hand experience of launching a business within their
                        campus with stipend of Rs 3k per month. Strong resumes stand a chance to work full-time with
                        Swiggy!<br><br>
                        Register yourself at <a href="https://launchpad.swiggy.com">Swiggy Launchpad</a>
                        <br>
                        For queries, please contact Anmol Rattan, <a href="tel:7889483240">+91 7889483240</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}