<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{% static 'main_page/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main_page/css/events.css' %}">
</head>

<body>

    <div class="events_head">
        <a href="{% url 'main_page_home' %}">
            <img class="event_logo" src="{% static 'main_page/img/logo-event.png' %}" alt="">
        </a>
        <center>
            <h3>Advitya Events</h3>
        </center>

        <a href="{% url 'cult_events' %}" class="event_pagelink">
            <img src="{% static 'main_page/img/Asset 3.svg' %}" alt="">

        </a>



    </div>

    <img src="{% static 'main_page/img/Asset 2.svg' %}" class="event_circle1" alt="">
    <img src="{% static 'main_page/img/Asset 2.svg' %}" class="event_circle2" alt="">
    <img src="{% static 'main_page/img/Asset 2.svg' %}" class="event_circle3" alt="">
    <div class="events_sidebar">
        <ul>
            <li><a href="#">ZENITH</a>


            </li>
            <li><a href="#zenith">ROBOTICS</a>


            </li>
            <li><a href="#robotics">AEROMODELLING</a>


            </li>
            <li><a href="#aeromodelling">CODING & SOFTCOM</a>


            </li>
            <li><a href="#coding">FINCOM</a>


            </li>
            <li><a href="#fincom">MONOCHROME</a>


            </li>
            <li><a href="#monochrome">AUTOMOTIVE</a>


            </li>
            <li><a href="#automotive">GAMING</a>

            </li>
            <li><a href="#gaming">E-CELL</a>


            </li>

            <li><a href="#ecell">MECHANICAL</a>


            </li>
            <li><a href="#mechanical">ELECTRICAL</a>


            </li>
            <li><a href="#electrical">CHEMICAL</a>


            </li>
            <li><a href="#chemical">CIVIL</a>


            </li>



        </ul>
    </div>

    <div class="events_main">
        <h3 id="zenith">Zenith</h3>
        <div class="event_class">

            <div class="event_card">

                <img src="{% static 'main_page/img/1 (1).png' %}" alt="">
                <p class="event_text">
                    Case study :
                    (Max. people in team - 3) In this event Problem statement about astronomy will be declared 1 or 2
                    weeks before the event, and participants have to come up with its solution. You will understand the
                    details once the problem statement reaches you.

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1UBsbX6Eet7X-cz39kSUkpk7a-ghcj2pm/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/zenith poster images.png' %}" alt="">
                <p class="event_text">
                    Astrophotography :
                    (only one person, no teams) Participants have to submit the photographs of celestial objects which
                    they have taken from their camera or telescope which will be judged and winners will be declared by
                    the club. Note that Plagiarism will not be tolerated in this event and you will be disqualified from
                    the event.

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/121_Bt4duMFSJe6_E3shOoG1LouiuDJBk/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/3.png' %}" alt="">
                <p class="event_text">
                    Astroquiz :
                    (Team size max. 3) Quiz on the topic of astronomy will be conducted in 2 phases, once a team
                    qualifies in the first round they will be shifted to the second round for further shortlisting.


                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1BhWCuGjJWKZs38-bNksW4u2C2X15U68J/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>

            </div>
        </div>
        <br>
        <h3 id="zenith">Robotics</h3>
        <div class="event_class">

            <div class="event_card">
                <img src="{% static 'main_page/img/mm7.jpg' %}" alt="">
                <p class="event_text">

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1vGhYfSIOv0R5WH8WTsteK8349icIx0ZS/view?usp=drive_open">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/mm7.jpg' %}" alt="">
                <p class="event_text">

                </p>
                <div class="event_links">
                    <a
                        href="https://docs.google.com/presentation/d/1a2idq2pkRAlhaPjOAD6Yaf3IzEEE2XMM/edit?usp=drive_web&ouid=101511359834564382017&rtpof=true">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
        </div>
        <br>
        <h3 id="robotics">Aeromodelling</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/1.jpg' %}" alt="">
                <p class="event_text">
                    Aero Deli: The objective of this competition is to design an UAV integrated with a
                    cooling system that can be used to deliver covid vaccines to the remote areas of our country.

                </p>
                <div class="event_links">
                    <a
                        href="https://docs.google.com/presentation/d/1QsYuhNcZn9sp82RuINCcaIwO3RMznxFI/edit?usp=drive_web&ouid=101511359834564382017&rtpof=true">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">

                <img src="{% static 'main_page/img/3.jpg' %}" alt="">
                <p class="event_text">
                    Aero Quiz: If you like reading newspapers and being updated with the latest news
                    all around the world in aircrafts & its recent technologies,etc then this Quiz would bring you a lot
                    of fun and surprises for you.

                </p>
                <div class="event_links">
                    <a
                        href="https://docs.google.com/presentation/d/1jREUUnHhOB3sdE1CEU-JaD3aahYtBrve/edit?usp=drive_web&ouid=101511359834564382017&rtpof=true">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>

        </div>

        <br>
        <h3 id="coding">Coding & Softcom</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/bug.png' %}" alt="">
                <p class="event_text">
                    DebugIt: Chef is poor at coding. He has submitted some codes for his ACM ICPC online round, but he
                    thinks that the code has some bugs. Help Chef find test cases where his code will fail, so that he
                    can alter it before submitting and fulfill his dream of winning ICPC for India.
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1nTxftLIvwpWnKHEHZNTTn-eSiXAU76LO/view?usp=drive_open">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/p=np.png' %}" alt="">
                <p class="event_text">
                    P=NP: Competitive Programming based contest where teams would be given some problem statements and
                    would have to submit codes in order to get AC.
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1R9T_Xp34z-Z5MgcZOtIP8NpM9RDy1Wjs/view?usp=drive_open">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/agelimit.jpg' %}" alt="">
                <p class="event_text">

                    Age Limit Exceeded: Students would be given a problem statement for which they will have
                    to submit code and get an AC. Any school going student can participate in the event. Valid school id
                    must be presented to receive the prize.

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1EiDMydNpKuRWnozl3JTUb8r_-3JKIBCl/view?usp=drive_open">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/Software_Hackathon.jfif' %}" alt="">
                <p class="event_text">
                    Hackathon
                    Use artificial intelligence and machine learning technologies to develop innovative solutions for
                    modern problems. Present your solution to a panel of judges.

                </p>
                <div class="event_links">
                    <a
                        href="https://docs.google.com/presentation/d/1To2vcIWWxWWcGVB9GRB08FdVM4aK0IKPc2UQqTjbxpo/edit?usp=drive_web&ouid=101511359834564382017">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
        </div>
        <br>
        <h3 id="fincom">Fincom</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/casestudy-img07.jpg' %}" alt="">
                <p class="event_text">
                    Case Study competition: In this competition your interpretation, analytical skills and case solving
                    skills will be required to create the best solution for the given problem statement. The competition
                    will consist of three rounds with guesstimates round, case study solving round and online
                    presentation of the case study ppt followed by the Q&A.
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1-Jgqd4geIkVi9DHAa_Hi2ftx5evbHXGN/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/stock-market-crash-1.jpg' %}" alt="">
                <p class="event_text">
                    Stock stalkers: A virtual portfolio management competition which will be conducted on a dedicated
                    stock simulation platform on the live market for 1 week. The aim is to maximize the value of the
                    portfolio in the given time interval.
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/13nyP5seqrtPZlKGmbWlC_7eF-OTb8H8b/view?usp=drive_open">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/idea_3.jpg' %}" alt="">
                <p class="event_text">
                    Business Quiz :This competition will test your knowledge on finance , business, etc . </p>
                <div class="event_links">
                    <a href="https://drive.google.com/open?id=1SJGxnWV_9RFxfcB2Y9lgv1VvKMWS22Bm&authuser=0"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>

        </div>

        <br>
        <h3 id="cim">CIM</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/Invento Image 2.jpg' %}" alt="">
                <p class="event_text">
                    INVENTO: A fortnight-long design challenge which will test your team’s (2-5 members) innovation to
                    tackle real world challenges in the most efficient way.
                </p>
                <div class="event_links">
                    <a href="https://docs.google.com/presentation/d/1w77ASjwrmcqvK3Tuh1suCmsWhR-SE2Gc884Ns1VB2E8/edit">
                        <button class="btn-sm btn-info"> Rulebook</button></a>

                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/SpeeDAC.jpg' %}" alt="">
                <p class="event_text">
                    SpeeDAC: Think you’re the fastest 3D modeller? Show your skills in 2 hours of gruelling time limited
                    modelling challenge where every second counts, literally!
                    2D drawings of parts will be given on spot. Event will be proctored in a video conference.

                </p>
                <div class="event_links">
                    <a href="https://docs.google.com/presentation/d/1LbkJEtWRpNGFD07vP8Iy2cqOYW2e5AgRJtf3bi4zsbI/edit">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>

        </div>
        <br>
        <h3 id="monochrome">Monochrome</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/Art of photoshop.jpeg' %}" alt="">
                <p class="event_text">
                    Art of Photoshop

                    Each team will be given a pool of 10-15 photographs. The battle to see who can create the most
                    stunning single composite image.
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/open?id=1ueQ7cfl81NR1ighFKnXOLoM7vC-Vx3af&authuser=0"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/FoodoMark.jpg' %}" alt="">
                <p class="event_text">
                    Foodomark :Each participant has to substitute a food item, in place of a famous landmark, t show off
                    their editing skills
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/open?id=1ihPlF00Oc9WllZwl62YddwUvjbzf0qNO&authuser=0"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/Quick Type.jpeg' %}" alt="">
                <p class="event_text">
                    Quick Type : Participants have to display their typography skills using a single font family. A ace
                    against time to create a typography masterpiece.
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/open?id=1S2PfocCnUehmDzY_VFYnpVbTmqkqQmoQ&authuser=0"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/Design Marathon.jpeg' %}" alt="">
                <p class="event_text">
                    Design Marathon : Participants have to rebrand a given company, Redesign of the logo along with its
                    applications.,Collaterals including visiting cards, email template, etc.and
                    Deliverables for advertisement including posters, flyers, etc

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1pglQEAsQaYE4REKLeQdJviAK9r7Ek-VA/view?usp=drive_open">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
        </div>
        <br>
        <h3 id="automotive">Automotive</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/AutomotiveDYC.jpg' %}" alt="">
                <p class="event_text">
                    DYC(Design your car): A problem statement will be given according to which participants have to
                    design a model.

                </p>
                <div class="event_links">
                    <a
                        href="https://docs.google.com/presentation/d/1iwvrSeephpsTUal66G45BEEGJE27j3OL/edit?usp=drive_web&ouid=101511359834564382017&rtpof=true">
                        <button class="btn-sm btn-info"> Rulebook</button></a>

                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/Rocket League.jpg' %}" alt="">
                <p class="event_text">
                    Rocket League: A 3v3 tournament on rocket league( best of 3 knockout).
                </p>
                <div class="event_links">
                    <a
                        href="https://docs.google.com/presentation/d/1S6HBB-dSn4H9Z1D3ZIAO14X8FfQUewTB/edit?usp=drive_web&ouid=101511359834564382017&rtpof=true">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>

        </div>
        <br>
        <h3 id="gaming">Gaming</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/YellowBlack.jpg' %}" alt="">
                <p class="event_text">
                    Call of duty mobile: Bringing the best global battle royale game on mobile. Get ready with your gear
                    and make your perfect 4 player squads.

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1RLG9wFRlMw9Y7YyAwng8xgAs4490tUJP/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/732028.jpg' %}" alt="">
                <p class="event_text">
                    CSGO: Each team will play a 5v5 competitive match on the maps (dust2, inferno, mirage, nuke,
                    overpass, train, vertigo).
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1RYayGKqgZXlriU_PBK2X6uKliPoooKCH/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/Yoru.png' %}" alt="">
                <p class="event_text">

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1YyXHnWACx5nvkamij9uta_5M6HoCuW2Z/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
        </div>
        <br>
        <h3 id="ecell">E-Cell</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/python.jpg' %}" alt="">
                <p class="event_text">

                    An event focussing on developing the attitude of Problem Solving. There are hundreds of unsolved
                    problems, yet we can't see the gap! Those who solve them become great Entrepreneurs. The
                    participants/Teams will get a fixed set of Information, and they have to develop a Solution and
                    Pitch it.


                </p>
                <div class="event_links">
                    <a href=""> <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>

        </div>

        <br>
        <h3 id="mechanical">Mechanical Department</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/Mechanical madness (2).jpeg' %}" alt="">
                <p class="event_text">
                    Mechanical Madness: This event is based on Rube Goldberg Machines: Complicated, deliberately
                    overengineered contraptions that ultimately perform a very simple task. Ironically, they’re rarely
                    (if ever) built by rubes. One step triggers the next in a chain reaction until the final task is
                    complete.
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1EsLQ9yddP8V40rFhW589H5sB6PRardle/view?usp=drive_open">
                        <button class="btn-sm btn-info"> Rulebook</button></a>

                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/Weaponstar.jpeg' %}" alt="">
                <p class="event_text">
                    Weapon Star: suppose you are in a war,and you need to fight back to the enemy for survival.
                    Obviously you'll need a gun to fight a modern war.
                    Here's a challenge for you.
                    Can you create a 2d model gun with limited sources?

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1Am3zJv4tUtSWSkhE71tbtsR0tJVxcoe2/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>

        </div>

        <br>
        <h3 id="electrical">Electrical Department</h3>
        <div class="event_class">

            <div class="event_card">
                <img src="{% static 'main_page/img/VLSI Analog design 1.jpg' %}" alt="">
                <p class="event_text">
                    VLSI Analog design:
                    The Design Contest will provide a platform to showcase original ”power-aware” circuit design
                    targeting the best power and energy- efficiency improvement without compromising on other aspects of
                    the design octagon.

                </p>
                <div class="event_links">
                    <a
                        href="https://docs.google.com/presentation/d/1VOonHO1cDIbBlosi3KYccBl6udlkgT3W/edit?usp=drive_web&ouid=101511359834564382017&rtpof=true">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>

        </div>

        <br>
        <h3 id="chemical">Chemical Department</h3>
        <div class="event_class">
            <div class="event_card">
                <img src="{% static 'main_page/img/CHEMSBLE.jpg' %}" alt="">
                <p class="event_text">
                    Chemiscribbl: It will the exciting mix of your knowledge of Chemical Engineering, your creativity
                    and the popular online game Scribble.
                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1Mjpx2LCnf7_34coqM06XUetnzd1UqOlc/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>

                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>
            <div class="event_card">
                <img src="{% static 'main_page/img/IMG-20210312-WA0019.jpg' %}" alt="">
                <p class="event_text">

                    Chem-e-quiz : it's your knowledge test of chemical engineering in a creative way with the lots of
                    fun.

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1EULNVkbuY9FTTSFZ2Xo7g5GhiHOmqaS2/view?usp=drive_open">
                        <button class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>

        </div>
        <br>
        <h3 id="civil">Civil Department</h3>
        <div class="event_class">

            <div class="event_card">
                <img src="{% static 'main_page/img/architect-working-table-with_bwc18202859.jpg' %}" alt="">
                <p class="event_text">
                    Energy efficient building
                    Design a green eco-friendly building that is energy efficient, sustainable, feasible and uses
                    natural resources wisely and has a positive
                    impact on the environment and its surroundings.

                </p>
                <div class="event_links">
                    <a href="https://drive.google.com/file/d/1mF86DJ7HERQx5sJSg3250HTpDNPtO2FA/view"> <button
                            class="btn-sm btn-info"> Rulebook</button></a>
                    <button onclick="popup('zeitgeist21-113231');" class="btn-sm btn-info">Register</button>
                </div>
            </div>

        </div>

    </div>
    <noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript>
    <script src="https://www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
    <script src="{% static 'main_page/js/jquery.min.js' %}"></script>
    <script src="{% static 'main_page/js/bootstrap.min.js' %}"></script>

</body>

</html>