<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Events</title>
    <link type="text/css" rel="stylesheet" href="{% static 'main_page/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main_page/css/events.css' %}?v=1.01">
</head>

<body>

    <div class="events_head">
        <a href="{% url 'main_page_home' %}">
            <img class="event_logo" src="{% static 'main_page/img/logo-event.png' %}" alt="">
        </a>
        <center>
            <h3>Advitiya Events</h3>
        </center>

        <a href="{% url 'cult_events' %}" class="event_pagelink">
            <img src="{% static 'main_page/img/Asset 3.svg' %}" alt="">

        </a>



    </div>

    <img src="{% static 'main_page/img/Asset 2.svg' %}" class="event_circle1" alt="">
    <img src="{% static 'main_page/img/Asset 2.svg' %}" class="event_circle2" alt="">
    <img src="{% static 'main_page/img/Asset 2.svg' %}" class="event_circle3" alt="">




    <div class="events_main">
        <h3> TECHNICAL CLUBS</h3>

        <div class="event_class">

            {% for club in clubs %}

            <div class="event_card">
                <img src="{% static 'main_page/img/'|add:club.image %}" alt="">
                <p class="event_text">
                    <br><br>
                    CLICK TO EXPLORE EVENTS RELATED TO <br><br>{{club.name}}

                </p>
                <div class="event_links">
                    <a href="{% url 'club_details' club.id  %}"> <button
                            class="btn-sm btn-info">{{club.name}}</button></a>

                </div>

            </div>
            {% endfor %}
        </div>


    </div>

    <script src="{% static 'main_page/js/jquery.min.js' %}"></script>
    <script src="{% static 'main_page/js/bootstrap.min.js' %}"></script>

</body>

</html>