{% extends "main_page/base.html" %}

{% load static %}

{% block content %}

<div class='jumbotron' style="background-color:#39a0ed; color:#fdef8d ">

<br><br>
</div>
<div class='container' style="min-height: 30vh;">
    <h3 style="color:#29339b; font-size: larger ; margin:auto; margin-top:60px; line-height: 40px; max-width: 600px;" class='list-group-item'>This page is
        currently under maintenance. Please visit after some time, or if the problem persists, contact Ritesh Chaudhary, <a
            href="tel:9158725099" style="font-weight:bold;color:#17301c">915 8725 099</a></h3>
</div>

{% endblock %}