{% extends "main_page/base.html" %}

{% load static %}

{% block content %}

<div class='jumbotron' style="background-color:#39a0ed; color:#fdef8d ">
    <br><br>
    <div class='container'>
        <h3 style="background-color:#39a0ed; color:#29339b; font-size: larger " class='list-group-item'>This page is
            currently under maintainance. Please visit again, or if the problem persists, contact <a
                href="tel:8708725393" style="font-weight:bold;color:#17301c">87087 25393</a></h3>
    </div>
</div>

{% endblock %}