{% extends "campus_ambassador/base.html" %}

{% load static %}

{% block content %}

<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-brand">
				<a href="{% url 'main_page_home' %}" class="button">Zeitgeist</a>
			</div>
			<div class="pull-right">
				<a href="{% url 'campus_ambassador_register' %}" class="button" style="font-size: 1.1em;">Register</a>
			</div>
		</div>
	</nav>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-brand"></div>
			<div class="pull-right"></div>
		</div>
	</nav>
</header>

<section class="hero-wrap js-fullheight">
	<div class="container-fluid px-0">
		<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
			data-scrollax-parent="true">
			<div class="col-md-12 ftco-animate text-center">
				<div class="desc">
					<span class="subheading">Campus</span>
					<h1 style="background-image: url({% static 'campus_ambassador/images/bg_1.jpg' %});">CA</h1>
					<span class="subheading-2">Ambassador</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt">
	<div class="container-fluid px-0">

		<!-- start of different divisions of the page -->
		<div class="row no-gutters">

			<!-- about us -->
			<div class="col-md-12 blog-wrap">
				<div class="row no-gutters align-items-center">
					<div class="col-md-6 img js-fullheight"
						style="background-image: url({% static 'campus_ambassador/images/about_us.jpg' %});">

					</div>
					<div class="col-md-6">
						<div class="text p-md-5 p-4 ftco-animate">
							<h2 class="mb-4"><a>About Us</a></h2>
							<p>Zeitgeist is one of the biggest annual cultural festival of North India: A
								fiesta
								where art, talent, and diversity meets. It has a total footfall of about
								12,000
								and a reach of more than 250 colleges. Encapsulating the spirit of times,
								Zeitgeist provides an opportunity to the people from all over India to
								showcase
								their talent. It provides a platform to the young talents of our nation to
								stir
								the atmosphere, rock the audience and set the stage on fire. Zeitgeist has
								hosted many talented and celebrated personalities like Vishal-Shekhar, Mohit
								Chauhan, Alfaz, Zephyrtone and DJ Olly Esse. Filled with the exhilaration of
								heated competition and exuberant events, Zeitgeist 2k21 is here to rock your
								heart.</p>
							<!-- removed the unnecessary read more -->
							<!-- <p class="mb-0 mt-4"><a href="#" class="btn btn-primary">Read more <span class="ion-ios-arrow-forward"></span></a></p> -->
						</div>
					</div>
				</div>
			</div>

			<!-- why cr -->
			<div class="col-md-12 blog-wrap">
				<div class="row no-gutters align-items-center">
					<div class="col-md-6 img js-fullheight"
						style="background-image: url({% static 'campus_ambassador/images/leadership_skills.jpg' %});">

					</div>
					<div class="col-md-6">
						<div class="text p-md-5 p-4 ftco-animate">
							<h2 class="mb-4"><a>Why Become Campus Ambassador?</a></h2>
							<ul>
								<li style="font-weight: bold;">Leadership Skills :</li>
								<p>To become a leader in the world of followers.</p>
								<li style="font-weight: bold;">Communication Expertise :</li>
								<p>An opportunity to improve your communication and managerial skills.</p>
								<li style="font-weight: bold;">Certificate of Appreciation :</li>
								<p>We appreciate your work.</p>
								<li style="font-weight: bold;">Auxiliary Benefits :</li>
								<p>Grab official Zeitgeist 2k21 merchandise and recieve goodies from our
									sponsors.</p>
							</ul>
							<!-- removed the unnecessary read more -->
							<!-- <p class="mb-0 mt-4"><a href="#" class="btn btn-primary">Read more <span class="ion-ios-arrow-forward"></span></a></p> -->
						</div>
					</div>
				</div>
			</div>

			<!-- incentives -->
			<div class="col-md-12 blog-wrap bg-darken">
				<div class="row no-gutters align-items-center">
					<div class="col-md-6 d-flex justify-content-center align-items-center order-md-last js-fullheight">
						<div class="img"
							style="background-image: url({% static 'campus_ambassador/images/incentives.jpg' %});">
						</div>
					</div>
					<div class="col-md-6">
						<div class="text p-md-5 p-4 ftco-animate">
							<h2 class="mb-4"><a>Incentives</a></h2>
							<!-- <p>Top 50 CAs will get pro-night passes for free.</p>
							<p>Top 10 CAs will get a certificate of excellence each, with their ranks
								mentioned
								in it, and goodies worth ₹ 20,000/- for free.</p> -->
							<p>CAs who bring more than 50 participants will get goodies and t-shirts of
								Zeitgeist 2k21 for free.</p>
							<p>CAs will get cash prizes based on the number of participants referred by
								them.
							</p>
							<p>All CAs will get certificate of participation.</p>
							<!-- removed the unnecessary read more -->
							<!-- <p class="mb-0 mt-4"><a href="#" class="btn btn-primary">Read more <span class="ion-ios-arrow-forward"></span></a></p> -->
						</div>
					</div>
				</div>
			</div>

			<!-- responsibilities -->
			<div class="col-md-12 blog-wrap">
				<div class="row no-gutters align-items-center">
					<div class="col-md-6 img js-fullheight"
						style="background-image: url({% static 'campus_ambassador/images/responsibility.jpg' %});">

					</div>
					<div class="col-md-6">
						<div class="text p-md-5 p-4 ftco-animate">
							<h2 class="mb-4"><a>Responsibilities</a></h2>
							<ul>
								<li style="font-weight: bold;">Be a leader :</li>
								<p>Lead the contingent from your college. Get students of your college
									acquainted with Zeitgeist.</p>
								<li style="font-weight: bold;">Bring maximum participation :</li>
								<p>Ensure maximum registration and participation from your college.</p>
								<li style="font-weight: bold;">Publicise Zeitgeist :</li>
								<p>Encourage others to like and follow Zeitgeist's Instagram and Facebook
									pages.
									Use 'Invite All' feature on Facebook. Share pages, events' posters and
									posts
									on Facebook and Whatsapp. Paste Zeitgeist's posters at active and lively
									sites of your college.</p>
							</ul>
							<!-- removed the unnecessary read more -->
							<!-- <p class="mb-0 mt-4"><a href="#" class="btn btn-primary">Read more <span class="ion-ios-arrow-forward"></span></a></p> -->
						</div>
					</div>
				</div>
			</div>

			<!-- frequently asked questions -->
			<div class="col-md-12 blog-wrap">
				<div class="row no-gutters align-items-center">
					<div class="col-md-6 img js-fullheight"
						style="background-image: url({% static 'campus_ambassador/images/question_mark.png' %});">

					</div>
					<div class="col-md-6">
						<div class="text p-md-5 p-4 ftco-animate">
							<h2 class="mb-4"><a>Frequently Asked Questions</a></h2>
							<ul>
								<li style="font-weight: bold;">What is Campus Ambassador?</li>
								<p>Campus Ambassadors are active leaders in their college who act as
									representatives of Zeitgeist.</p>
								<li style="font-weight: bold;">How to apply for Campus Ambassador?</li>
								<p>By clicking on 'Register' button at the top of this page.</p>
								<li style="font-weight: bold;">What is the eligibility to become a Campus
									Ambassador?</li>
								<p>One must own valid ID card issued in his/her name from the college whose
									Campus Ambassador he/she wants to be.</p>
								<li style="font-weight: bold;">Can there be more than one Campus Ambassador
									from
									the same college?</li>
								<p>If student participation is relatively high from a college, then more
									than
									one Campus Ambassadors may be appointed.</p>
								<!-- <li style="font-weight: bold">How much time and effort would be expected from my side?</li><p>Campus Ambassadors are expected to complete the tasks assigned to them by Zeitgeist with dedication and seriousness.</p> -->
							</ul>
							<!-- removed the unnecessary read more -->
							<!-- <p class="mb-0 mt-4"><a href="#" class="btn btn-primary">Read more <span class="ion-ios-arrow-forward"></span></a></p> -->
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- end of different divisions of the page -->

	</div>
</section>

{% endblock content %}
