{% extends "campus_ambassador/base.html" %}

{% load static %}

{% block content %}

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a href="{% url 'main_page_home' %}" type="button" class="btn btn-light">Zeitgeist</a>
            </div>
            <div class="pull-right">
                {% if request.user.is_authenticated %}
                <a href="{% url 'account_email' %}" type="button" class="btn btn-light">Change Account</a>
                {% else %}
                <a href="{% url 'google_login' %}" type="button" class="btn btn-light">Login to Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand"></div>
            <div class="pull-right">
                <p style="color: white">{% if request.user.is_authenticated %}{{ request.user.email }}{% endif %}</p>
            </div>
        </div>
    </nav>
</header>

<section class="hero-wrap js-fullheight">
    <!-- content goes here -->
</section>

{% endblock content %}
