.merchandise_main{
 
    min-height: 70vh;
    margin-top: 10vh;
    
}

.merchandise_text{
    margin-top: 50px;
    padding:50px 20px;
    
    border: 2px solid rgb(31, 97, 128);
}

.images_merchandise{

   
    margin-top:60px;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;


}

.merchandise_image{
    width: 220px;

    margin: 0 20px;
    
    transition: transform 0.5s ease;
}

.merchandise_image:hover{
    transform: scale(1.3)
   

}

@media only screen and (max-width: 650px){
    h2{
        font-size:20px;
    }
}
@media only screen and (max-width: 450px){
    h2{
        font-size:20px;
    }
}