{% extends 'TSP/base.html'%}
{% load static %}
{% block title %} Zeitgeist-2021 {%endblock%}
{% block body %}

<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 main-back overlay">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class='main-heading'></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container about-advitiya">
    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-8">
            <h2 class="mb-4"><strong>About TSP</strong></h2>
            <p style="text-align:justify; font-size:1.3em">
                Zeitgeist 2021 is proud to announce its second edition of School Outreach Program: <strong>Techno School Program(TSP)</strong>. 
                It will be a two-phase competition with talented students from prestigious schools participating in two categories namely:
               <strong> <br>Category 1: Class IX & X<br>
                Category 2: Class XI & XII<br></strong>

                The events organized for school students are as follows:<br>
                <strong>1. Zeitgeist Open Olympiad:</strong>
                
                <ul style="text-align: justify;">
                <li>Preliminary test on <strong>18 Jan 2020 (Saturday)</strong> in respective schools</li>
                <li>The finale on <strong> Feb 2020(Saturday)</strong> at IIT Ropar campus</li>
                <li>The prizes of the competition are  <strong> worth 25k</strong>.</li>
                <li>Top 25 participants from each category will be selected for the finale.</li>
                <li>Registration fee for the Olympiad is INR 50</li>
                <li>Please register your schools at <a href="{% url 'TSP:home'  %}">www.advitiya/TSP.in</a> </li>
                </ul>
                  <strong>  <p style="text-align:justify; font-size: 20.8px;">2. Techwalk <br></p></strong>
                    <p style="text-align:justify;font-size: 15px;"> 
                        On the days of <strong>Zeitgeist 2020</strong>, all the participating labs in our institute will be open to
                        the school students. Various departments will be showcasing various cutting-edge
                        technologies in their particular field. Apart from the labs, there will be an exhibition
                        where projects made by students, faculties will be displayed. There will be exhibitors
                        from across the world who will display the emerging technologies. For the visitors,
                        this will be a great chance to learn, experience and interact with experts from
                        different scientific fields and also to witness the recent advancements in the field of
                        science.<br>
                    </p>
                   <strong> <p style="text-align:justify; font-size: 20.8px;">3. Junior Scientist Competition:</p></strong>
                    <ul style="text-align: justify;">
                    <li>The finale on <strong>8th Feb 2020(Saturday)</strong> at IIT Ropar campus</li>
                    <li>Each school is allowed to bring three projects accompanied by three students each .</li>
                    <li>Students should bring a brief printed report along with their project.</li>
                    <li>There is no registration fee for this competition .</li>
                    </ul>
            </p>

        </div>
    </div>


</div>
<div class="about-advitiya perks">
    <div class="container perks-heading">
        <div class="row justify-content-center text-center">
            <div class="col-md-6">
                <div class="mb-4">Incentives</div>
            </div>
        </div>
    </div>
    <div class="perks-list">

        <div class="container wrapper">
            <div class="row feature-2">
                <div class=" feature-2-contents">
                    <div class="">
                        <!-- <span class="caption">01.</span> -->
                        <h3 class="mb-5 justify-content-center"><strong>TechWalk</strong></h3>
                        <p>Techno-Cultural Fest and Campus visit by the students.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container wrapper">
            <div class="row feature-2">
                <div class=" feature-2-contents">
                    <div class="fixed-content">
                        <!-- <span class="caption">02.</span> -->
                        <h3 class="mb-5 justify-content-center"><strong>Cash Prizes & Goodies</strong></h3>
                        <p>Exciting Cash Prizes & Goodies to the winnners of various categories.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container wrapper">
            <div class="row align-items-stretch feature-2">
                <div class=" feature-2-contents">
                    <div class="fixed-content">
                        <!-- <span class="caption">03.</span> -->
                        <h3 class="mb-5 justify-content-center"><strong>Certificate of Excellence</strong></h3>
                        <p>All the grand finalists will be awarded Certificate of Excellence by Zeitgeist, IIT Ropar.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container wrapper">
            <div class="row align-items-stretch feature-2">
                <div class=" feature-2-contents">
                    <div class="fixed-content">
                        <!-- <span class="caption">04.</span> -->
                        <h3 class="mb-5 justify-content-center"><strong>TSP Zonal Posters</strong></h3>
                        <p>School's name will be featured on TSP Zonal Posters</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container wrapper">
            <div class="row align-items-stretch feature-2">
                <div class=" feature-2-contents">
                    <div class="fixed-content">
                        <!-- <span class="caption">05.</span> -->
                        <h3 class="mb-5 justify-content-center"><strong>Token of Appreciation</strong></h3>
                        <p>School will recieve a special token of appreciation from Zeitgeist.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container wrapper">
            <div class="row align-items-stretch feature-2">
                <div class=" feature-2-contents">
                    <div class="fixed-content">
                        <!-- <span class="caption">05.</span> -->
                        <h3 class="mb-5"><strong>Publicity of School</strong></h3>
                        <p>School's name and logo will be publicized on Social Media Platforms as a TSP Partner.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container about-advitiya">
    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-6">
            <h2 class="mb-4">What we expect of you...</h2>
            <p>School is expected to help us in the smooth conduction of the exam.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="{% static 'TSP/img/exam.jpg' %}" height="160" width="12" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Infrastructure</h3>
                    <p class="card-text">The School is expected to provide proper Infrastructure
                        to the participants.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="height:100%">
                <img src="{% static 'TSP/img/register.png' %}" height="160" width="12" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Registration of Students</h3>
                    <p class="card-text">The school shall take the registration fees from the students and register them
                        on our web portal.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="{% static 'TSP/img/invigilator.jpg' %}" height="160" width="12" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">School Staffs</h3>
                    <p class="card-text">An executive from IIT Ropar will arrive on the exam day with the question sets. School Administration should provide atleast 2 additional school staffs to help in proper conduction of examination.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}